@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header h1 img {
  height: 58px;
  width: 58px;
}
.view label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
}

/* THEME SWITCH */
.theme-switch-container {
  width: 24px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 8px;
  overflow: hidden;
  cursor: pointer;
  z-index: 20;
}
.theme-switch-container .theme-switch-window {
  width: 200%;
  height: 100%;
  display: flex;
  -webkit-transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transform: translateX(-24px);
}
.theme-switch-container.dark .theme-switch-window {
  transform: translateX(0px);
  filter: invert(1);
}
.theme-switch-window .theme-switch {
  width: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* DARK THEME */
html {
  transition: all 200ms ease-in-out;
}
html.dark,
html.dark #root {
  background-color: #121212;
}
html.dark .todoapp {
  background-color: #222;
}
html.dark .new-todo,
html.dark .footer {
  color: #bbb;
}
html.dark .new-todo::placeholder {
  color: #555;
}
html.dark .todo-list .edit {
  background-color: #111;
  color: #bbb;
}
html.dark .toggle + label {
  color: #b7b7b7;
}
html.dark .toggle:checked + label {
  color: #6b6b6b;
}
html.dark .todo-list li {
  border-bottom: 1px solid #555;
}
html.dark .todo-list li:first-child {
  border-top: 2px solid #555;
}
html.dark .footer {
  border-top: 1px solid #555;
}
html.dark .footer::before {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #222,
    0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #222,
    0 17px 2px -6px rgba(0, 0, 0, 0.2) !important;
}

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 40px !important;
    top: -80px !important;
  }
  header h1 img {
    height: 30px;
    width: 30px;
  }
  .todoapp {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .footer .filters {
    position: relative;
    order: 3;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-top: solid 1px #ddd;
    padding-top: 12px;
    bottom: 0 !important;
  }
  html.dark .footer .filters {
    border-top: solid 1px #333;
  }
  .footer .todo-count {
    float: none;
    order: 1;
  }
  .footer .clear-completed {
    float: none;
    order: 2;
  }
}

/* Spinner */
.spinner-container {
  height: 100dvh;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.spinner {
  height: 5dvh;
  width: 5dvh;
  border: thick solid #b83f45;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinnerAnimation 700ms ease-out infinite;
  -o-animation: spinnerAnimation 700ms ease-out infinite;
  -moz-animation: spinnerAnimation 700ms ease-out infinite;
  -webkit-animation: spinnerAnimation 700ms ease-out infinite;
}
.spinner-container h2 {
  color: #b83f45;
  margin: 3dvh 8dvw;
  text-align: center;
}
/* Animacion spinner */
@keyframes spinnerAnimation {
  to {
    transform: rotate(360deg);
  }
}
